/* Основной цвет текста #2E2F42 */
/* Вторичный цвет текста #434455 */
/* Акцент #4D5AE5 */
/* Белый #FFFFFF */
/* Акцентный текст #E7E9FC */
:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --white-color: #ffffff;
  --accent-text-color: #e7e9fc;
  --main-hover-color: #404bbf;
  --background-color: #f4f4fd;
  --svg-fill-color: #8e8f99;

  --main-font-font-family: "Roboto", sans-serif;
  --secondary-font-font-family: "Raleway", sans-serif;

  --main-trans-dur: 250ms;
  --main-trans-time-func: cubic-bezier(0.4, 0, 0.2, 1);
}

/* =============== Reset =============== */

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

/* =============== Common =============== */

body {
  font-family: var(--main-font-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
  color: var(--primary-text-color);
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
}

.title {
  color: var(--title-text-color);
}

.section {
  padding-bottom: 120px;
}

.button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =============== Header =============== */

.header {
  border-bottom: 1px solid var(--accent-text-color);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 0 76px;
}

.logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 28px;

  font-family: var(--secondary-font-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-decoration: none;
}

.decorarion-header {
  color: var(--title-text-color);
}

.nav-list {
  display: flex;
  gap: 0 40px;
}

.nav-list-link {
  position: relative;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 28px;

  font-weight: 500;
  color: var(--title-text-color);
  text-decoration: none;

  transition: color var(--main-trans-dur) var(--main-trans-time-func);
}

.nav-list-link.current {
  color: var(--main-hover-color);
}

.nav-list-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(100% - 3px);

  width: 100%;
  height: 4px;
  background-color: var(--main-hover-color);
  border-radius: 2px;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--main-hover-color);
}

.contact-list {
  display: flex;
  gap: 0 40px;
}

.contacts-list-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;

  transition: color var(--main-trans-dur) var(--main-trans-time-func);
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--main-hover-color);
}

/* =============== Hero =============== */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;

  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--title-text-color);
  text-align: center;
}

.hero-title {
  max-width: 495px;
  margin: 0 auto;
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);
}

.primary-button {
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--main-trans-dur) var(--main-trans-time-func);
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--main-hover-color);
}

/* =============== Features =============== */

.features {
  padding-top: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.features-list li {
  flex-basis: calc((100% - 72px) / 4);
}

.thumb {
  background-color: var(--background-color);
  padding: 24px 100px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.features-icon {
  width: 64px;
  height: 64px;
  display: block;
}

.features-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* =============== Examples =============== */

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.examples-title,
.team-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

/* =============== Team =============== */

.team {
  padding-top: 120px;

  background-color: var(--background-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  text-align: center;
}

.team-list li {
  flex-basis: calc((100% - 72px) / 4);
}

.team-item img {
  display: block;
}

.team-item-descr {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--white-color);
}

.team-item-title {
  margin-bottom: 8px;
}

.team-item-text {
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  gap: 0 24px;
  align-items: center;
}

.team-social-link {
  display: inline-block;
  padding: 12px;
  border-radius: 50%;

  background-color: var(--accent-color);

  transition: background-color var(--main-trans-dur) var(--main-trans-time-func);
}

.team-social-icon {
  display: block;
  width: 16px;
  height: 16px;

  fill: var(--background-color);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--main-hover-color);
}

/* =============== Customers =============== */

.customers {
  padding-top: 120px;
}

.customers-title {
  margin-bottom: 72px;

  text-align: center;
  font-size: 36px;
  line-height: 1.11;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.customers-list li {
  flex-basis: calc((100% - 120px) / 6);
}

.customers-list-link {
  display: inline-block;
  border: 1px solid var(--svg-fill-color);
  border-radius: 4px;
  padding: 16px 31px;

  color: var(--svg-fill-color);

  transition: color var(--main-trans-dur) var(--main-trans-time-func),
    border var(--main-trans-dur) var(--main-trans-time-func);
}

.customers-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

.customers-list-link:hover,
.customers-list-link:focus {
  border: 1px solid var(--main-hover-color);
  color: var(--main-hover-color);
}

/* =============== Footer =============== */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--title-text-color);
}

.footer-inner {
  display: flex;
  gap: 0 120px;
}

.footer .logo {
  padding-top: 8px;
  padding-bottom: 16px;
}

.footer-text {
  max-width: 264px;

  color: var(--accent-text-color);
}

.decorarion-footer {
  color: var(--white-color);
}

.footer-socials-text {
  margin-top: 8px;
  margin-bottom: 16px;

  font-weight: 500;
  color: var(--white-color);
}

.footer-socials-list {
  display: flex;
  gap: 0 16px;
}

.footer-socials-link {
  display: inline-block;
  padding: 8px;
  border-radius: 50%;

  fill: var(--background-color);
  background: rgba(255, 255, 255, 0.1);

  transition: background-color var(--main-trans-dur) var(--main-trans-time-func);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

.footer-socials-icon {
  display: block;
  width: 24px;
  height: 24px;
}

/* =============== Modal window =============== */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  visibility: visible;
  transition: opacity var(--main-trans-dur) var(--main-trans-time-func),
    visibility var(--main-trans-dur) var(--main-trans-time-func);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 408px;
  min-height: 576px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--main-trans-dur) var(--main-trans-time-func);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #e7e9fc;
}

.modal-close-icon {
  width: 8px;
  height: 8px;
}

/* portfolio.html */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.categories-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.secondary-button {
  padding: 12px 24px;
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;

  background-color: var(--background-color);
  color: var(--accent-color);

  transition: background-color var(--main-trans-dur) var(--main-trans-time-func),
    color var(--main-trans-dur) var(--main-trans-time-func),
    box-shadow var(--main-trans-dur) var(--main-trans-time-func);
}

.secondary-button:hover,
.secondary-button:focus {
  border: 1px solid transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--main-hover-color);
  color: var(--white-color);
}

.portfolio-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list li {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-list-link {
  display: inline-block;

  text-decoration: none;

  transition: box-shadow var(--main-trans-dur) var(--main-trans-time-func);
}

.portfolio-card-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 0;
  transform: translateY(100%);

  background-color: var(--accent-color);

  transition: transform var(--main-trans-dur) var(--main-trans-time-func);
}

.portfolio-card-text {
  color: var(--background-color);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-link:hover .portfolio-card-overlay,
.portfolio-list-link:focus .portfolio-card-overlay {
  transform: translateY(0);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  display: block;
}

.portfolio-item-descr {
  padding: 32px 16px;
  border-right: 1px solid var(--accent-text-color);
  border-left: 1px solid var(--accent-text-color);
  border-bottom: 1px solid var(--accent-text-color);
}

.portfolio-item-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-item-text {
  color: var(--primary-text-color);
}
